

<section class="section-wrapper gray-bg">
    <div class="container">

        <div class="section-title text-center">
            <h2>Proceso</h2>
        </div>
        <!--.section-title-->

        <div class="row">
      
        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>

<section class="call-to-action-variant-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="action-content">
                    <div class="action-text">
                        <h2>Ofrecemos un servicio demo de 2 meses</h2>
                    </div>
                    <!--.action-text-->
                    <div class="action-button">
                        <a class="btn btn-default" href="https://acan.shinyapps.io/scoringcredito/" target="_blank">Ver Simulador</a>
                    </div>
                    <!--.action-button-->
                </div>
                <!--.action-content-->
            </div>
            <!--.col-md-12-->
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</section>
<!--.call-to-action-variant-2-->

<section class="section-wrapper">
    <div class="container">
        <div class="section-title text-center">
            <h2>Beneficios</h2>
        </div>
        <!--.section-title-->
        <div class="row">
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-bar-chart icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Reducción de cartera vencida</h3>
                        <p>Resultado de colocar únicamente créditos sanos.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-line-chart  icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Líneas de crédito más altas</h3>
                        <p>Ofrece mayores líneas de créditos a prospectos con excelentes calificaciones.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-exclamation-triangle  icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Ahorros en gestión de cobranza</h3>
                        <p>Menos clientes presentarán morosidad. </p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-check icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Tasas de interés preferenciales</h3>
                        <p>Ofrece una menor tasa de interés con una mayor línea de crédito a los prospectos con buenas calificaciones.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
        </div>
    </div>
</section>
