<section class="section-wrapper gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
              <div class="thumbnail-variant-2 thumbnail">
                  <img src="/img/ceo.jpg" alt="team"/>

                  <div class="caption">
                      <h3>Jerry Jiménez Tamayo</h3>
                      <span>CEO</span>
                      <p>Licencido en Actuaría por la Facultad de Matemáticas, UADY, Especialista
                      en Estadística por la Facultad de Matemáticas, UADY. Experiencia en
                    análisis de crédito y riesgos, planeación financiera y métodos estadísticos para
                    predicción de datos.</p>
                  </div>
                  <!--.caption-->
              </div>
              <!--.thumbnail-->

            </div>
            <div class="col-md-3">
              <div class="thumbnail-variant-2 thumbnail">
                  <img src="/img/coo.jpg" alt="team"/>

                  <div class="caption">
                      <h3>Alejandra Chi Vazquez</h3>
                      <span>COO</span>
                      <p>Licencido en Actuaría por la Facultad de Matemáticas, UADY, Especialista
                      en Estadística por la Facultad de Matemáticas, UADY. Experiencia en
                    análisis de datos, planeación financiera y procesos estadísticos generales.</p>
                  </div>
                  <!--.caption-->
              </div>
              <!--.thumbnail-->
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <!--.row-->
        <div class="row">
          <div class="col-md-3">

          </div>
            <div class="col-md-3">
              <div class="thumbnail-variant-2 thumbnail">
                  <img src="/img/coo.jpg" alt="team"/>

                  <div class="caption">
                      <h3>Monica Garduño Rueda</h3>
                      <span>Diseñadora Corporativa</span>
                  </div>
                  <!--.caption-->
              </div>
              <!--.thumbnail-->
            </div>
            <div class="col-md-3">
                <div class="thumbnail-variant-2 thumbnail">
                    <img src="/img/ceo.jpg" alt="team"/>

                    <div class="caption">
                        <h3>Roberto Bajaras Marcos</h3>
                        <span>Abogado Consultor</span>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <!--.row-->

    </div>
    <!--.container-->
</section>
<!--.section-wrapper-->
