<section class="section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <p>Somos una empresa que nace con el objetivo de proporcionar soluciones eficientes a Empresas e
                  Instituciones, principalmente del sector Financiero, mediante el uso de herramientas
                  actuariales-estadísticas para el diseño de productos beneficos para estas.
                </p>

                <p>
                    Por otro lado, nos enfocamos en generar herramientas y soluciones para análisis de datos
                  de Empresas en general, que, tienen la necesidad de comprender la información que procesan día a día
                para una mejor toma de decisiones.</p>

                <p> Nuestros productos y servicios son llevados a cabo por personas altamenta capacitadas y con los
                   conocimientos necesarios de las areas de:
                </p>
                <ol style="list-style-type:disc">
                  <li> Cálculos actuariales </li>
                  <li> Cálculos estadísticos </li>
                  <li> Diseño de software </li>
                  <li> Minería de datos </li>
                  <li> Diseño gráfico corporativo </li>
                </ol>
            </div>
            <div class="col-md-6 animated bounceIn">
                        <img src="/img/quienes.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-xs hidden-sm pad-top-80">
                <div class="block-wrapper animated bounceIn">
                    <img src="/img/mv.jpg" class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-wrapper pad-top-80 pad-bottom-80">
                    <div class="section-title text-left">
                        <h2></h2>
                    </div>
                    <!--.block-title-->

                    <div class="media left-icon-style">
                        <div class="media-left media-middle">
                            <i class="fa fa-check icon-circle" aria-hidden="true"></i>
                        </div>
                        <!--.media-left-->
                        <div class="media-body media-middle">
                            <h3 class="media-heading">Misión</h3>

                            <p>Desarrollar productos y servicios de alta calidad para apoyar la gestión
                               de riesgos de nuestros clientes. ​</p>
                        </div>
                        <!--.media-body-->
                    </div>
                    <!--.media-->

                    <div class="media left-icon-style">
                        <div class="media-left media-middle">
                            <i class="fa fa-check icon-circle" aria-hidden="true"></i>
                        </div>
                        <!--.media-left-->
                        <div class="media-body media-middle">
                            <h3 class="media-heading">Visión</h3>

                            <p>Consolidar el mercado financiero en toda Latinoamérica, distinguiéndonos
                               por el compromiso y calidad de nuestros productos y servicios. ​</p>
                        </div>
                        <!--.media-body-->
                    </div>
                    <!--.media-->
                </div> <br>
            </div>
            <!--.col-md-6-->
        </div>
    </div>
</section>
<section class="section-wrapper gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Lo que nos distingue</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animated fadeInLeft">
                <div class="thumbnail-variant-1 thumbnail red-shadow">
                    <div class="caption">
                        <h3>Competencia</h3>

                        <p>Nos adaptamos a las necesidades de cada uno de nuestros clientes,
                          ofreciendo servicios y productos que se adaptan a los requerimientos
                           de cada uno de estos. </p>

                    </div>
                    <!--.caption-->
                    <img src="/img/competencia.png" alt="Competency">
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4 animated fadeInUp">
                <div class="thumbnail-variant-1 thumbnail red-shadow">
                    <div class="caption">
                        <h3>Calidad</h3>

                        <p>Nos comprometemos a diseñar productos y servicios de alta calidad y
                          estamos constantemente buscando el mejoramiento de estos.</p>
                    </div>
                    <!--.caption-->
                    <img src="/img/profesionalismo.jpg" alt="Professionalism">
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4 animated fadeInRight">
                <div class="thumbnail-variant-1 thumbnail red-shadow">
                    <div class="caption">
                        <h3>Compromiso</h3>

                        <p>Estamos comprometidos a proporcionar la orientación necesaria a nuestros
                           clientes para el entendimiento y la utilización de nuestros productos y servicios. </p>
                    </div>
                    <!--.caption-->
                    <img src="/img/compromiso.jpg" alt="Commitment">
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-wrapper-->

<section class="section-wrapper">
  <div class="container">
  <div class="row">
      <div class="block-wrapper">
          <div class="column-block-title">
              <h3>Nuestras capacidades</h3>
          </div>
          <!--.block-title-->

          <div class="media left-icon-style">
              <div class="media-left media-middle">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
              </div>
              <!--.media-left-->
              <div class="media-body media-middle">
                  <h3 class="media-heading">Te enseñamos a como mejorar tu negocio con base a tus datos</h3>

                  <p>No solamente creamos herramientas para comprender mejor a tu negocio, sino que también te enseñamos a como
                  utilizarlas adecuadamente.</p>
              </div>
              <!--.media-body-->
          </div>
          <!--.media-->

          <div class="media left-icon-style">
              <div class="media-left media-middle">
                  <i class="fa fa-cubes" aria-hidden="true"></i>
              </div>
              <!--.media-left-->
              <div class="media-body media-middle">
                  <h3 class="media-heading">Hacemos la tecnología asequible para ti</h3>

                  <p>Nuestras soluciones y herramientas están diseñadas con la más alta calidad y con técnologías que nos permites no tener
                    un costo excesivamente elevado en comparación con otras técnologías de análisis de datos.
                  </p>
              </div>
              <!--.media-body-->
          </div>
          <!--.media-->

          <div class="media left-icon-style">
              <div class="media-left media-middle">
                  <i class="fa fa-shield" aria-hidden="true"></i>
              </div>
              <!--.media-left-->
              <div class="media-body media-middle">
                  <h3 class="media-heading">Protegemos los datos personales de tus clientes</h3>

                  <p>Para nuestros productos, nunca solicitaremos información personal de los clientes de tu portafolio, tales como nombre, dirección, teléfono, CURP, etc.</p>
              </div>
              <!--.media-body-->
          </div>
          <!--.media-->
      </div>
    </div>
  </div>
  <!--.col-md-6-->
</section>
