<div class="section-column-wrapper margin-top-30 margin-bottom-30">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-9">
        <article class="blog-post-wrapper sticky">
            <header class="entry-header">
                <div class="entry-meta">
                    <ul class="list-inline">
                        <li><span class="the-time"><a href="#">5 de septiembre de 2017</a></span></li>
                        <li><span class="the-author"> Por: <a class="url" href="http://expansion.mx/" target="_blank">Expansión</a></span></li>
                    </ul>
                </div><!-- /.entry-meta -->

                <h2 class="entry-title"><a href="blog-single.html">Opinión: Inclusión Financiera en México, ¿Qué tal la infraestructura bancaria?</a></h2>
            </header><!-- /.entry-header -->
            <div class="entry-content">
                <p>Es importante entender cómo y dónde la infraestructura facilita la inclusión financiera, además de analizar el por qué algunos estados y
                  municipios tienen más sucursales, cajeros y terminales punto de venta (TPV) que otros.</p>
            </div><!-- /.entry-content -->
            <div class="post-thumbnail">
                <img src="img/blog/blog-1.jpg" class="img-responsive " alt="">
            </div><!-- /.post-thumbnail -->
            <footer class="entry-footer">
                <a href="http://expansion.mx/opinion/2017/09/04/opinion-inclusion-financiera-en-mexico-que-tal-la-infraestructura-bancaria" target="_blank" class="btn btn-primary"> Leer más</a>
            </footer><!-- /.entry-footer -->
        </article>


        <article class="blog-post-wrapper">
            <header class="entry-header">
                <div class="entry-meta">
                    <ul class="list-inline">
                        <li><span class="the-time"><a href="#">20 de agosto de 2017</a></span></li>
                        <li><span class="the-author"> Por: <a class="url" href="http://eleconomista.com.mx/index.php" target="_blank">El Economista</a></span></li>
                    </ul>
                </div><!-- /.entry-meta -->

                <h2 class="entry-title"><a href="blog-single.html">Condusef reprueba a sofomes en crédito automotriz y simple</a></h2>
            </header><!-- /.entry-header -->
            <div class="entry-content">
                <p>La Condusef reprobó a 51 de 52 sociedades financieras de objeto múltiple Entidades No Reguladas con respecto a sus productos de
                  crédito de auto, personal y simple.</p>
            </div><!-- /.entry-content -->
            <div class="post-thumbnail">
                <div id="blog-post-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/blog/blog-3.jpg" class="img-responsive " alt="">
                        </div>
                        <div class="item">
                            <img src="img/blog/blog-2.jpg" class="img-responsive " alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#blog-post-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#blog-post-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div><!-- /.post-thumbnail -->
            <footer class="entry-footer">
                <a href="http://eleconomista.com.mx/finanzas-personales/2017/08/20/condusef-reprueba-sofomes-credito-automotriz-simple" target="_blank" class="btn btn-primary"> Leer más</a>
            </footer><!-- /.entry-footer -->
        </article>

        <article class="blog-post-wrapper">
            <header class="entry-header">
                <div class="entry-meta">
                    <ul class="list-inline">
                        <li><span class="the-time"><a href="#">12 de Agosto del 2017</a></span></li>
                        <li><span class="the-author"> Por: <a class="http://www.elexpres.com" href="#">El Express</a></span></li>
                    </ul>
                </div><!-- /.entry-meta -->
                <h2 class="entry-title"><a href="blog-single.html">Crecen quejas contra Sofomes y cajas populares</a></h2>
            </header><!-- /.entry-header -->
            <div class="entry-content">

                    <p>La Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros (Condusef)  dio a conocer que en lo que
                      va del año se  han presentado 155 denuncias contra Sociedades Financieras de Objeto Múltiple no reguladas  (Sofomes ENR) y 41 denuncias
                       contra Cooperativas de Ahorro y Préstamo (Socaps).</p>

            </div><!-- /.entry-content -->

            <footer class="entry-footer">
                <a href="http://www.elexpres.com/2015/nota.php?story_id=145276" class="btn btn-primary" target="_blank"> Leer más</a>
            </footer><!-- /.entry-footer -->
        </article>

        <article class="blog-post-wrapper">
            <header class="entry-header">
                <div class="entry-meta">
                    <ul class="list-inline">
                        <li><span class="the-time"><a href="#">1 de Agosto de 2017</a></span></li>
                        <li><span class="the-author"> Por: <a class="http://www.elfinanciero.com.mx" href="#">El Financiero</a></span></li>
                    </ul>
                </div><!-- /.entry-meta -->

                <h2 class="entry-title"><a href="blog-single.html">Crédito de nómina tiene baja histórica</a></h2>
            </header><!-- /.entry-header -->
            <div class="entry-content video-post">
                <p>Los créditos vía nómina tuvieron una reducción  de 1%, mientras que los créditos para adquirir bienes de consumo duradero se
                  mantuvieron con un aumento de 14.8% y las tarjetas con un alza de 3.3%.
                </p>
            </div><!-- /.entry-content -->

            <footer class="entry-footer">
                <a href="http://www.elfinanciero.com.mx/economia/credito-de-nomina-tiene-baja-historica.html" target="_blank" class="btn btn-primary"> Leer más</a>
            </footer><!-- /.entry-footer -->
        </article>
    </div><!-- /.col-md-9 -->

    <div class="col-xs-12 col-md-3">
        <div class="sidebar-wrapper right-sidebar">

            <aside class=" widget widget_recent_entries">
                <h2 class="widget-title">Noticias Relevantes</h2>
                <ul>
                  <li><a href="http://www.milenio.com/negocios/mexico-inflacion-ocde-inegi_0_1025297473.html" target="_blank">México, segunda inclación más alta dentro de la OCDE.</a>
                      <div class="post-meta">
                          <time datetime="2017-01-04">6 de septiembre de 2017</time>
                      </div>
                  </li>
                  <li><a href="http://www.eluniversal.com.mx/cartera/economia/confianza-del-consumidor-crece-22-anual-inegi" target="_blank">Confianza del consumidor crece 2.2% anual: Inegi</a>
                      <div class="post-meta">
                          <time datetime="2017-01-04">5 de septiembre de 2017</time>
                      </div>
                  </li>
                  <li><a href="http://eleconomista.com.mx/sociedad/2017/09/02/mexico-tiene-economia-abierta-moderna-competitiva" target="_blank">México tiene una economía abierta, moderna y competitiva</a>
                      <div class="post-meta">
                          <time datetime="2017-01-04">2 de septiembre de 2017</time>
                      </div>
                  </li>

                    <li><a href="http://www.eluniversal.com.mx/cartera/negocios/venta-de-autos-cae-65-en-agosto" target="_blank">Venta de autos cae 6.5% en agosto</a>
                        <div class="post-meta">
                            <time datetime="2017-01-04">1 de septienbre de 2017</time>
                        </div>
                    </li>
                </ul>
            </aside>

            <aside class="widget widget_tag_cloud">
                <h2 class="widget-title">Tags de Noticiarios</h2>
                <ul>
                    <li><a href="http://www.eluniversal.com.mx" target="_blank">El Financiero</a></li>
                    <li><a href="http://eleconomista.com.mx" target="_blank">El Economista</a></li>
                    <li><a href="http://expansion.mx/" target="_blank">Expansión</a></li>
                    <li><a href="http://www.eluniversal.com.mx" target="_blank">El Universal</a></li>
                    <li><a href="http://www.milenio.com/" target="_blank">Milenio</a></li>
                </ul>
            </aside>
        </div><!-- /.sidebar-wrapper -->
    </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
    </div>
</div>
