<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pad-top-80 hidden-sm hidden-xs">
                <img src="/img/ba1.jpg" class="img-responsive" alt="...">
            </div>
            <div class="col-md-6">
                <div class="block-wrapper pad-top-80 pad-bottom-30">
                    <h2>Lo que ofrecemos</h2>
                    <p>Ofrecemos soluciones basadas en diversas herramientas dentro de Business Analytcis, de tal forma
                      nuestros clientes comprendan la situación de su empresa y tomen decisiones adecuadas con base a la
                      información que esta les propociona.
                    </p>
                    <p>
                      Nuestro proceso a grandes ragos consiste en inpeccionar, limpiar y transformar los datos de nuestros
                      clientes con el objetivo de extraer información útil mediante la cual puedan mejorar la operación de sus
                      empresas; esto se lleva a cabo desde múltiples face y enfoques, las cuales abarcan diversas técnicas,
                      según sea el objetivo del análisis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-wrapper gray-bg">
    <div class="container">

        <div class="section-title text-center">
            <h2>Herramientas que utilizamos</h2>
        </div>
        <!--.section-title-->

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail red-top-border red-shadow">
                    <img src="/img/pronosticos.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Pronósticos Estadísticos</h3>

                        <p>Pronósticamos el comportamiento de variables de interés para nuestros clientes, tales
                        como ventas, inventarios, entre otros.</p>

                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail green-top-border green-shadow">
                    <img src="/img/kpi.png" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Diseño de KPIS e Índices</h3>

                        <p>Diseñamos KPIS e Índices cuya finalidad es la de medir la oficiencia desde diversos
                        puntos de vista para nuestros clientes.</p>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail blue-top-border blue-shadow">
                    <img src="/img/tablero.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Visualizador de Datos</h3>

                        <p>Desarrollo de aplicaciones Web para la visualización y análisis de datos, adecuados a las
                        necesidades de nuestros clientes. <a href="https://acan.shinyapps.io/scorecard/" target="_blank"> Ver simulador.</a> </p>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail red-top-border red-shadow">
                    <img src="/img/estadistico.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Análisis Descriptivo</h3>

                        <p>Para ayudar a comprender el comportamiendo de las empresas, realizamos los análisis
                        descriptivos de datos. </p><br><br><br>

                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail green-top-border green-shadow">
                    <img src="/img/diseño.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Diseño de bases de datos</h3>

                        <p>Si tu empresa no cuenta con sistema de bases de datos te ayudamos en el diseño
                        para comenzar a construirlas y almacenar información.</p><br><br>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-4">
                <div class="thumbnail-variant-1 thumbnail blue-top-border blue-shadow">
                    <img src="/img/cor.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Análisis de regresiones y correlaciones</h3>

                        <p>Análizamos variables de interés de las empresas para ver si existe alguna relación
                        entre estas y asimosmo, verificar si pudieran describir otras variables de interes o incluso,
                        discribirse entre ellas mismas.</p>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>

<section class="call-to-action-variant-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="action-content">
                    <div class="action-text text-center">
                        <h2> &ensp; &ensp;&ensp; Nos adaptamos a tu situación y te ofrecemos una soloción óptima</h2>
                    </div>
                    <!--.action-text-->
                </div>
                <!--.action-content-->
            </div>
            <!--.col-md-12-->
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</section>
<!--.call-to-action-variant-2-->
