<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block-wrapper pad-top-80 pad-bottom-30">
                    <h2>Nuestro servicio</h2>

                    <p>Hacemos el cálculo preventivo de reservas por riesgos de créditos para las instituciones, apegándonos
                      a las relgas y metodología de cálculo publicada por la Secretaría de Hacienda y Crédito Público
                       en conjunto con la Comisión Nacional Bancaria de Valores:
                    </p>

                    <p>
                      <i>“Publicadas en el Diario Oficial de la Federaci n el 1 de diciembre de 2014. Modificada
                       mediante resoluciones publicadas en el propio Diario el 27 de agosto de 2015 y 25 de enero
                       de 2016”.</i></p>

                    <p>Asimismo, incluímos un reporte inteligente en el cual ayudamos a las Instituciones a comprender
                    el comportamiento de la reserva por riesgo de crédito desde diferentes puntos de vista.</p>


                </div>

            </div>
            <div class="col-md-6 hidden-sm hidden-xs  pad-top-80 animated bounceIn">
                <img src="/img/reservasheader.jpg" class="img-responsive" alt="...">
            </div>

        </div>
    </div>
</section>

<section class="section-wrapper">
    <div class="container">
        <div class="section-title text-center">
            <h2>Beneficios</h2>
        </div>
        <!--.section-title-->
        <div class="row">
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-check icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Evita impactos en la utilidad</h3>
                        <p>Al tener una reserva para hacer frente, evita que la utilidad se vea afectada por el riesgo de
                        incumplimiento.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-shield icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Protege el <br> capital</h3>
                        <p>La medición y asignación de capital financiero sobre una base ajustada al riesgo es útil para
                        proteger la liquidez y mejorar la rentabilidad del negocio.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-info icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Panorama de <br> productos</h3>
                        <p>Conocer como se comportan los productos de la Institución con respecto a una medida de riesgo
                        importante para el sector, ayuda a identificar áreas de oportunidad en estos y a diseñar productos
                      aún mejores.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
            <div class="col-md-3">
                <div class="top-icon-style text-center">
                    <i class="fa fa-line-chart icon-circle" aria-hidden="true"></i>
                    <div class="content">
                        <h3 class="heading">Incrementa la <br> fortaleza</h3>
                        <p>Ubica en una buena posición al a Institución al estar cubierta de riesgos de incumplimineto.</p>
                    </div>
                    <!--.content-->
                </div>
                <!--.top-icon-style-->
            </div>
            <!--.col-md-3-->
        </div>
    </div>
</section>

<section class="section-wrapper gray-bg">
    <div class="container">
      <div class="row text-center">
        <h2>Proceso para el cálculo de la reserva</h2>
        <div class="animated rollIn" data-wow-duration="2s" >
        <img  src="/img/procesoreservas.png">
      </div>
      </div>
        <div class="section-title text-center">
            <h2>Metodologías</h2>
        </div>
        <!--.section-title-->

        <div class="row">
            <div class="col-md-6 animated fadeInLeft">
                <div class="thumbnail-variant-1 thumbnail red-top-border red-shadow">
                    <img src="/img/metouno.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>CNBV y SHCP</h3>

                        <p>Es la metodología autorizada y regulada por estos 2 órganos en conjunto, en donde se indican
                        los parámetros, variables y números a tomar en cuenta en el cálculo por tipo de crédito. </p>

                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
            <div class="col-md-6 animated fadeInRight">
                <div class="thumbnail-variant-1 thumbnail blue-top-border blue-shadow">
                    <img src="/img/metodos.jpg" alt="Saving Solutions">

                    <div class="caption">
                        <h3>Metodología Propia</h3>

                        <p>Apegada a la metodología de la CNBV pero la probabilidad de incumplimiento se estima con base
                        a la información propia de las Instituciones, mejorando el cálculo de las Reservas al reflejar
                        el panorama verdadero de la Institución. </p>
                    </div>
                    <!--.caption-->
                </div>
                <!--.thumbnail-->
            </div>
            <!--.col-md-4-->
        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
