<section class="pad-top-50 pad-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h3 class="margin-bottom-30">Solicita información</h3>

                <form id="formulario" name="formulario" action="/es/mailcontacto"  class="margin-bottom-50" method="post">
                    <div class="form-group user-name">
                        <label for="nameFive-first" class="sr-only">Name</label>
                        <input type="text" name="name" class="form-control" required="" id="nameFive-first"
                               placeholder="Nombre">
                    </div>
                    <div class="form-group user-name">
                        <label for="companuFive" class="sr-only">Company</label>
                        <input type="text" name="company" class="form-control" required="" id="companyFive"
                               placeholder="Empresa">
                    </div>
                    <div class="form-group user-email">
                        <label for="emailFive" class="sr-only">Email</label>
                        <input type="email" name="email" class="form-control" required="" id="emailFive" placeholder="Correo">
                    </div>


                    <div class="form-group user-phone">
                        <label for="websiteOne" class="sr-only">Website</label>
                        <input type="text" name="telefono" class="form-control" required="" id="websiteOne" placeholder="Teléfono">
                    </div>

                    <div class="form-group user-message">
                        <label for="messageOne" class="sr-only">Message</label>
                        <textarea class="form-control" name="mensaje" required="" id="messageOne"
                                  placeholder="Mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </form>
                <h4>Gracias por contactarnos, alguien se pondrá en contato con usted y le brindará información personalizada a la brevedad. </h4>

            </div>
            <div class="col-md-6">
              <br><br>
                <div class="pad-bottom-30 text-box text-box-style-2">
                    <h4>Contáctenos</h4>

                    <p>
                        Jerry Jiménez<br/>
                        jjimenez@actuarialanalytics.com.mx
                    </p>

                    <p>
                        Alejandra Vazquez<br/>
                        achi@actuarialanalytics.com.mx
                    </p>

                    <p><strong>Teléfono:</strong> 9994-37-94-07</p>
                </div>
                  <img height="auto" width="100%" src="/img/contacto.jpg">
            </div>
        </div>
    </div>
</section>
